/*

Theme Name: Avada Child

Description: Child theme for Avada theme

Author: ThemeFusion

Author URI: https://theme-fusion.com

Template: Avada

Version: 1.0.0

Text Domain:  Avada

*/



.team_member .person-title {
	font-size: 20px !important;
	text-align: center;
}
.team_member .person-content {
	font-size: 13px;
	text-align: center;
}
.fusion-social-networks.boxed-icons .fusion-social-network-icon {
	margin-right: 4px !important;
}
#side-header .side-header-content-2, #side-header .fusion-header-tagline {
	margin-top: 10px !important;
}
#side-header .side-header-content-1 {
	margin-top: 20px !important;
}
.fusion-portfolio-one-nontext .fusion-image-wrapper {
	text-align: center;
	border: 1px solid #ccc;
	background: #DCDCDC;
}
.fusion-main-menu .sub-menu li a:hover, .fusion-main-menu .sub-menu .current-menu-item > a {
	color: #fff;
}
